.settings-menu {
  position: fixed;
  top: 12px;
  left: 12px;

  height: 5%;
  width: 5%;

  background-color: white;
  border: 1px solid black;
  border-radius: 3px;

  &__options {
    list-style: none;
    padding: 12px;
    margin: 0;
  }
}
