.settings-menu {
  position: fixed;
  top: 12px;
  left: 12px;

  background-color: rgba(0, 0, 0, .5);
  color: white;
  border-radius: 4px;

  z-index: 99;

  &__button {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border: none;
    padding: 8px;
  }
}
