.turn-order {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;

  height: 60%;
  width: 5%;

  background-color: white;
  border: 1px solid black;
  border-radius: 3px;

  display: flex;
  flex-flow: column;
  flex-wrap: none;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  &__icon {
    width: 100%;
    height: fit-content;
  }

  &__image {
    max-width: 100%;
  }
}
