.cutscene {
  height: 100%;
  width: 100%;
  background-color: none;
  position: absolute;
  z-index: 2;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    height: 10%;
    width: 100%;

    background-color: rgba(0,0,0,0);
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: none;

    height: 20%;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
  }
}
